.f-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59b256;
  height: 10vh;
  column-gap: 80px;
  margin-top: auto;
}

.f-icon {
  width: 40px;
  height: 40px;
}

.f-icon:hover {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 480px) {
  .f-info {
    margin-top: 35vh;
    width: 100%;
    column-gap: 50px;
  }
  .f-icon {
    width: 33px;
    height: 33px;
  }

  .f-icon:hover {
    width: 40px;
    height: 40px;
  }

}
