.t{
    width: 55px;
    height: 30px;
    border-radius: 20px;
    border: .8px solid #fff;
    background-color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-icon{
    width: 24px;
    height: 24px;
}

.t-button{
    width: 28.5px;
    height: 28.5px;
    border-radius: 50%;
    background-color: #87B256;
    position: absolute;
    cursor: pointer;
}

.t-button:hover {
    background-color: #56B281;
}


@media screen  and (max-width: 480px) {
    .t {
        border: 1.5px solid black;
    }
}